USE [master]
GO
/****** Object:  Database [ClinicaGrupo15]    Script Date: 23/06/2025 2:47:16 ******/
CREATE DATABASE [ClinicaGrupo15]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicaGrupo15', FILENAME = N'C:\Users\RTECH\Desktop\Study\Visual Studio\TPI_BaseDeDatos\ClinicaGrupo15.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicaGrupo15_log', FILENAME = N'C:\Users\RTECH\Desktop\Study\Visual Studio\TPI_BaseDeDatos\ClinicaGrupo15_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicaGrupo15].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicaGrupo15]
GO
/****** Object:  Table [dbo].[Administradores]    Script Date: 23/06/2025 2:47:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administradores](
	[Legajo_Admin] [char](8) NOT NULL,
	[Contraseña_Admin] [varchar](30) NOT NULL,
	[Nombre_Admin] [varchar](20) NOT NULL,
	[Apellido_Admin] [varchar](20) NOT NULL,
	[Correo_Admin] [varchar](50) NOT NULL,
	[Telefono_Admin] [varchar](20) NULL,
 CONSTRAINT [PK_Administrador] PRIMARY KEY CLUSTERED 
(
	[Legajo_Admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 23/06/2025 2:47:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[CodPostal_Ciudad] [char](4) NOT NULL,
	[CodProvincia] [char](4) NOT NULL,
	[Desc_Ciudad] [varchar](40) NOT NULL,
 CONSTRAINT [PK_Ciudad] PRIMARY KEY CLUSTERED 
(
	[CodPostal_Ciudad] ASC,
	[CodProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultas]    Script Date: 23/06/2025 2:47:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultas](
	[CodConsultas] [char](8) NOT NULL,
	[LegajoMedico_Cons] [char](8) NOT NULL,
	[DNIPaciente_Cons] [char](8) NOT NULL,
	[PresenciaPaciente] [bit] NOT NULL,
	[Observacion_Cons] [varchar](150) NULL,
 CONSTRAINT [PK_Consultas] PRIMARY KEY CLUSTERED 
(
	[CodConsultas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidades]    Script Date: 23/06/2025 2:47:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidades](
	[Cod_Especialidad] [char](6) NOT NULL,
	[Especialidad] [varchar](30) NOT NULL,
	[Desc_Espec] [varchar](100) NULL,
 CONSTRAINT [PK_Especialidades] PRIMARY KEY CLUSTERED 
(
	[Cod_Especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 23/06/2025 2:47:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[Legajo_Medico] [char](8) NOT NULL,
	[DNI_Medico] [char](8) NOT NULL,
	[Nombre_Medico] [varchar](30) NOT NULL,
	[Apellido_Medico] [varchar](30) NOT NULL,
	[Sexo_Medico] [varchar](10) NOT NULL,
	[CodEspecialidad_Medico] [char](6) NOT NULL,
	[Nacionalidad_Medico] [varchar](50) NOT NULL,
	[FechaNacimiento_Medico] [date] NOT NULL,
	[Direccion_Medico] [varchar](50) NOT NULL,
	[Ciudad_Medico] [varchar](40) NOT NULL,
	[Provincia_Medico] [varchar](40) NOT NULL,
	[Correo_Medico] [varchar](50) NOT NULL,
	[Telefono_Medico] [varchar](20) NOT NULL,
	[DiasAtencion_Medico] [varchar](100) NOT NULL,
	[HorarioInicio_Medico] [time](7) NOT NULL,
	[HorarioFin_Medico] [time](7) NOT NULL,
	[Contraseña_Medico] [varchar](20) NOT NULL,
	[Estado_Medico] [bit] NOT NULL,
 CONSTRAINT [PK_Medicos] PRIMARY KEY CLUSTERED 
(
	[Legajo_Medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 23/06/2025 2:47:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[DNI_Paciente] [char](8) NOT NULL,
	[Nombre_Paciente] [varchar](20) NOT NULL,
	[Apellido_Paciente] [varchar](20) NOT NULL,
	[Sexo_Paciente] [varchar](10) NOT NULL,
	[FechaNacimiento_Paciente] [date] NOT NULL,
	[Correo_Paciente] [varchar](50) NULL,
	[Telefono_Paciente] [varchar](20) NOT NULL,
	[Direccion_Paciente] [varchar](50) NOT NULL,
	[CodCiudad_Paciente] [char](4) NOT NULL,
	[CodProvincia_Paciente] [char](4) NOT NULL,
	[Estado_Paciente] [bit] NULL,
	[Nacionalidad_Paciente] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[DNI_Paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 23/06/2025 2:47:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[CodProvincia] [char](4) NOT NULL,
	[Desc_Provincia] [varchar](40) NOT NULL,
 CONSTRAINT [PK_Provincias] PRIMARY KEY CLUSTERED 
(
	[CodProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turnos]    Script Date: 23/06/2025 2:47:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turnos](
	[Cod_Turno] [char](8) NOT NULL,
	[LegajoMedico_Turnos] [char](8) NOT NULL,
	[DNIPaciente_Turnos] [char](8) NOT NULL,
	[LegajoAdmin_Turnos] [char](8) NOT NULL,
	[Dia_Turnos] [datetime] NOT NULL,
	[Horarios_Turnos] [time](7) NOT NULL,
 CONSTRAINT [PK_Turnos] PRIMARY KEY CLUSTERED 
(
	[Cod_Turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Administradores] ([Legajo_Admin], [Contraseña_Admin], [Nombre_Admin], [Apellido_Admin], [Correo_Admin], [Telefono_Admin]) VALUES (N'ADM00001', N'admin1234', N'Lucía', N'Pérez', N'lucia.perez@clinica.com', N'1134567890')
INSERT [dbo].[Administradores] ([Legajo_Admin], [Contraseña_Admin], [Nombre_Admin], [Apellido_Admin], [Correo_Admin], [Telefono_Admin]) VALUES (N'ADM00002', N'securepass', N'Javier', N'Gómez', N'javier.gomez@clinica.com', N'1145678901')
INSERT [dbo].[Administradores] ([Legajo_Admin], [Contraseña_Admin], [Nombre_Admin], [Apellido_Admin], [Correo_Admin], [Telefono_Admin]) VALUES (N'ADM00003', N'clave2025', N'María', N'Fernández', N'maria.fernandez@clinica.com', N'1156789012')
GO
INSERT [dbo].[Ciudades] ([CodPostal_Ciudad], [CodProvincia], [Desc_Ciudad]) VALUES (N'1625', N'BSAS', N'Escobar')
INSERT [dbo].[Ciudades] ([CodPostal_Ciudad], [CodProvincia], [Desc_Ciudad]) VALUES (N'1900', N'BSAS', N'La Plata')
INSERT [dbo].[Ciudades] ([CodPostal_Ciudad], [CodProvincia], [Desc_Ciudad]) VALUES (N'2000', N'SFE ', N'Rosario')
GO
INSERT [dbo].[Especialidades] ([Cod_Especialidad], [Especialidad], [Desc_Espec]) VALUES (N'CARDIO', N'Cardiología', N'Estudia y trata las enfermedades del corazón y del sistema circulatorio')
INSERT [dbo].[Especialidades] ([Cod_Especialidad], [Especialidad], [Desc_Espec]) VALUES (N'CLINIC', N'Clínica Médica', N'Atención integral de adultos, diagnóstico y tratamiento de enfermedades comunes')
INSERT [dbo].[Especialidades] ([Cod_Especialidad], [Especialidad], [Desc_Espec]) VALUES (N'DERMAT', N'Dermatología', N'Diagnóstico y tratamiento de afecciones de la piel, pelo y uñas')
GO
INSERT [dbo].[Pacientes] ([DNI_Paciente], [Nombre_Paciente], [Apellido_Paciente], [Sexo_Paciente], [FechaNacimiento_Paciente], [Correo_Paciente], [Telefono_Paciente], [Direccion_Paciente], [CodCiudad_Paciente], [CodProvincia_Paciente], [Estado_Paciente], [Nacionalidad_Paciente]) VALUES (N'20228704', N'Sebastián', N'Yatra', N'Masculino', CAST(N'1989-05-10' AS Date), N'Seba@gmail.com', N'+34 952 218 226', N'Av. Libertador 250', N'1625', N'BSAS', 1, N'Argentina')
INSERT [dbo].[Pacientes] ([DNI_Paciente], [Nombre_Paciente], [Apellido_Paciente], [Sexo_Paciente], [FechaNacimiento_Paciente], [Correo_Paciente], [Telefono_Paciente], [Direccion_Paciente], [CodCiudad_Paciente], [CodProvincia_Paciente], [Estado_Paciente], [Nacionalidad_Paciente]) VALUES (N'21008764', N'Delfina', N'Suárez', N'Femenino', CAST(N'1999-12-31' AS Date), N'delfina.suárez@gmail.com', N'+34 955 233 111', N'Av. Libertador 1020', N'4600', N'JUJU', 1, N'Uruguaya')
INSERT [dbo].[Pacientes] ([DNI_Paciente], [Nombre_Paciente], [Apellido_Paciente], [Sexo_Paciente], [FechaNacimiento_Paciente], [Correo_Paciente], [Telefono_Paciente], [Direccion_Paciente], [CodCiudad_Paciente], [CodProvincia_Paciente], [Estado_Paciente], [Nacionalidad_Paciente]) VALUES (N'21234780', N'Valentina', N'Silva', N'Femenino', CAST(N'2004-07-20' AS Date), N'valentina.silva@gmail.com', N'+34 934 567 890', N'Pasaje Dorado 89', N'3540', N'CHAC', 1, N'Argentina')
GO
INSERT [dbo].[Provincias] ([CodProvincia], [Desc_Provincia]) VALUES (N'BSAS', N'Buenos Aires')
INSERT [dbo].[Provincias] ([CodProvincia], [Desc_Provincia]) VALUES (N'CATA', N'Catamarca')
INSERT [dbo].[Provincias] ([CodProvincia], [Desc_Provincia]) VALUES (N'CHAC', N'Chaco')
GO
INSERT [dbo].[Turnos] ([Cod_Turno], [LegajoMedico_Turnos], [DNIPaciente_Turnos], [LegajoAdmin_Turnos], [Dia_Turnos], [Horarios_Turnos]) VALUES (N'TUR00001', N'MED00006', N'20228704', N'ADM00001', CAST(N'2025-02-06T00:00:00.000' AS DateTime), CAST(N'07:00:00' AS Time))
INSERT [dbo].[Turnos] ([Cod_Turno], [LegajoMedico_Turnos], [DNIPaciente_Turnos], [LegajoAdmin_Turnos], [Dia_Turnos], [Horarios_Turnos]) VALUES (N'TUR00002', N'MED00006', N'20228704', N'ADM00001', CAST(N'2025-02-06T00:00:00.000' AS DateTime), CAST(N'07:30:00' AS Time))
INSERT [dbo].[Turnos] ([Cod_Turno], [LegajoMedico_Turnos], [DNIPaciente_Turnos], [LegajoAdmin_Turnos], [Dia_Turnos], [Horarios_Turnos]) VALUES (N'TUR00003', N'MED00017', N'20228704', N'ADM00001', CAST(N'2025-03-06T00:00:00.000' AS DateTime), CAST(N'07:00:00' AS Time))
GO
ALTER TABLE [dbo].[Medicos] ADD  DEFAULT ((1)) FOR [Estado_Medico]
GO
ALTER TABLE [dbo].[Pacientes] ADD  DEFAULT ((1)) FOR [Estado_Paciente]
GO
ALTER TABLE [dbo].[Pacientes] ADD  DEFAULT ('Argentina') FOR [Nacionalidad_Paciente]
GO
ALTER TABLE [dbo].[Ciudades]  WITH CHECK ADD  CONSTRAINT [FK_Ciudad_Provincia] FOREIGN KEY([CodProvincia])
REFERENCES [dbo].[Provincias] ([CodProvincia])
GO
ALTER TABLE [dbo].[Ciudades] CHECK CONSTRAINT [FK_Ciudad_Provincia]
GO
ALTER TABLE [dbo].[Consultas]  WITH CHECK ADD  CONSTRAINT [FK_Consultas_Medicos] FOREIGN KEY([LegajoMedico_Cons])
REFERENCES [dbo].[Medicos] ([Legajo_Medico])
GO
ALTER TABLE [dbo].[Consultas] CHECK CONSTRAINT [FK_Consultas_Medicos]
GO
ALTER TABLE [dbo].[Consultas]  WITH CHECK ADD  CONSTRAINT [FK_Consultas_Pacientes] FOREIGN KEY([DNIPaciente_Cons])
REFERENCES [dbo].[Pacientes] ([DNI_Paciente])
GO
ALTER TABLE [dbo].[Consultas] CHECK CONSTRAINT [FK_Consultas_Pacientes]
GO
ALTER TABLE [dbo].[Medicos]  WITH CHECK ADD  CONSTRAINT [FK_Medicos_Especialidades] FOREIGN KEY([CodEspecialidad_Medico])
REFERENCES [dbo].[Especialidades] ([Cod_Especialidad])
GO
ALTER TABLE [dbo].[Medicos] CHECK CONSTRAINT [FK_Medicos_Especialidades]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [FK_Pacientes_Ciudades] FOREIGN KEY([CodCiudad_Paciente], [CodProvincia_Paciente])
REFERENCES [dbo].[Ciudades] ([CodPostal_Ciudad], [CodProvincia])
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [FK_Pacientes_Ciudades]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [FK_Turnos_Administradores] FOREIGN KEY([LegajoAdmin_Turnos])
REFERENCES [dbo].[Administradores] ([Legajo_Admin])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [FK_Turnos_Administradores]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [FK_Turnos_Medicos] FOREIGN KEY([LegajoMedico_Turnos])
REFERENCES [dbo].[Medicos] ([Legajo_Medico])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [FK_Turnos_Medicos]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [FK_Turnos_Pacientes] FOREIGN KEY([DNIPaciente_Turnos])
REFERENCES [dbo].[Pacientes] ([DNI_Paciente])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [FK_Turnos_Pacientes]
GO
USE [master]
GO
